*::before,
*::after,
* {
  font-family: 'Road Rage', cursive;
  text-shadow: 2px 0 2px #000;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--mainCompColor);
}

header {
  position: relative;
  display: flex;
  font-size: 6rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--mainFontColor);
  background-color: var(--mainColor);
  height: 5rem;
}

@media only screen and (max-width: 280px) {
  header {
    font-size: 3rem;
  }
}
