*::before,
*::after,
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  display: flex;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: rgba(245, 245, 245, 0.631);
  background-color: rgb(13, 157, 149);
  height: 20rem;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #666;
  background-color: rgba(255, 255, 255, 0.282);
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(0, 0, 0, 0.8318102240896359) 100%
  );
  width: 100%;
  height: 100vh;
}

.output {
  width: 100%;
  margin-bottom: 10rem;
  height: 10%;
  color: aliceblue;
  background-color: rgb(48, 48, 48);
}

#btnGenerate {
  padding: 2rem;
  color: rgba(255, 255, 255, 0.618);
  font-size: 3rem;
  background-color: rgb(228, 110, 0);
  border-radius: 5%;
  transition: all 0.1s ease-in-out;
}

#btnGenerate:hover {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)
  );
}

#btnGenerate:active {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.2)
  );
  box-shadow: 2px 2px 8px inset rgba(0, 0, 0, 0.8);
}
